@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-weight: normal;

}

p{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    /* font-size: normal; */
    line-height: 1.5em;

}

h1{
    text-decoration: capitalize;
    font-size: 0.8rem;
    border-block-start: 10px solid;
    border-block-end: 10px solid;

}

h2{
    background-color: #808080;
    border-block-end: 20px solid #ccc;
    padding-block: 30px;
    text-align: center;
    margin: auto;
}

/* h1, h2{text-decoration: capitalize;
} */

h2::first-letter{
    color: #FF0000;
}

ul, li{
    list-style-type: lower-greek;
    border-block-start: 10px solid;
}

/* html{
    /* font-size: 50px; */
} */

h2{
    font-size: 0.6rem;
}

section, dl{
    font-size: o.5rem;
}

img:nth-of-type(odd){
    border-radius: 0px 60px 0px 60px;
}
img:nth-of-type(even){
    border-radius: 60px 0px 60px 0px;
}

a{
    background-color:#808080;
    color:#fff ;
}
a:hover{
    background-color:#FF0000;
}
a:visited{
    color:#000;
}
a:active{
    background-color:#DC143C;
    color:#fff;
}

body{
    background: radial-gradient(circle, #ddd 40%, #ccc 40%);
    margin-inline: auto;
    width: 60%;
    background-attachment: fixed;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;background: #888;
    list-style-type: none;
    padding: 10px;
}